body{
  background-color: #202020;
}

main{
  padding: 67px 114px 0px 114px;

  @media (max-width: 730px) {
    grid-template-columns: repeat(2, 310px);
    padding: 35px 50px 0px 50px;
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 310px);
    padding: 35px 20px 0px 20px;
  }
}

.top-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.title-container{
  display: flex;
  height: 78px;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 40px;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.back-btn{
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.drinks-list{
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 75px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  
  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 310px);
    padding-bottom: 40px;
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(1, 310px);
    padding-bottom: 30px;
  }
}