.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  background-image: url('../assets/drink-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  gap: 12px;
}

.title{
  color: white;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;
}

.orText{
  color: white;
  font-size: 20px;
  font-weight: 600;
}